doctype html
html(lang="ru-Ru")
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        block title
            -var title = "STROY-ZAKAZ"
            -var page = ''
        title #{title + (page.length ? " - " : "") + (typeof page === 'string' ? page : page[page.length - 1])}
        link(rel='stylesheet', href='css/concat-css-libs.css')
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
        link(rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap")
        link(rel='stylesheet', href='css/common.css')
        link(rel='stylesheet', href='css/product.css')
        script(src="https://api-maps.yandex.ru/2.1/?apikey=c599d252-3a6f-4b64-872c-a529f6263f40&lang=ru_RU" type="text/javascript")
        <link rel="shortcut icon" href="img/favicon-stroyzakaz.ico" type="image/x-icon">
        <link rel="icon" href="img/favicon-stroyzakaz.ico" type="image/x-icon">
    body
        block header
            mixin header
                .container.flex_row__between.align_center
                    if page == 'Главная'
                        a(class="header__logo sz-logo")
                            img(class="sz-logo__img" src="img/logo-stroyzakaz.png" alt="Логотип STROY-ZAKAZ")
                            span.sz-logo__text STROY<span class='sz-logo__hyphen'>&#8209</span>ZAKAZ
                    else if page != 'Главная'
                        a(class="header__logo sz-logo" href="index.html")
                            img(class="sz-logo__img" src="img/logo-stroyzakaz.png" alt="Логотип STROY-ZAKAZ")
                            span.sz-logo__text STROY<span class='sz-logo__hyphen'>&#8209</span>ZAKAZ

                    ul.sz-contact.text_color_black.header__contact
                      li.sz-contact__item.sz-contact__item_phone <b>Москва:</b> +7 (861) 217-75-85
                      li.sz-contact__item.sz-contact__item_phone <b>Москва:</b> +7 (861) 217-75-85
                      li.sz-contact__item.sz-contact__item_phone <b>Москва:</b> +7 (861) 217-75-85
                      li.sz-contact__item.sz-contact__item_email info@stroy-zakaz.ru
                    //button(class="header__call btn btn_transparent text_color_grey" type="button") Меня заменят
                    button.burger
                        i
            mixin subHeader
                .container
                    button.burger
                        i
                    ul.nav.dropdown.active.flex_row__around.align_center.flex_wrap
                        li.nav__item
                            a(class=page == 'Главная' ? "link-spy arrow arrow_down desk" : "arrow arrow_down desk" href=page == 'Главная' ? "#catalogSection" : "index.html#catalogSection") Категории
                            <a class="arrow arrow_down mob">Категории</a>
                            ul
                                li <a class="arrow arrow_right" href="">Брус обрезной</a>
                                    ul
                                        li <a href="">Брус обрезной ГОСТ</a>
                                        li <a href="">Брус обрезной ТУ</a>
                                li <a class="arrow arrow_right" href="">Брус профилированный</a>
                                    ul
                                        li <a href="">Брус профилированный</a>
                                        li <a href="">Брус сухой профилированный</a>
                                li <a class="arrow arrow_right" href="">Брус строганный</a>
                                    ul
                                        li <a href="">Брус строганный</a>
                                        li <a href="">Брус сухой строганный</a>
                                li <a class="arrow arrow_right" href="">Брусок</a>
                                    ul
                                        li <a href="">Брусок обрезной</a>
                                        li <a href="">Брусок строганный</a>
                                li <a class="arrow arrow_right" href="">Доска обрезная</a>
                                    ul
                                        li <a href="">Брус и доска обрезная осина</a>
                                        li <a href="">Доска обрезная</a>
                                        li <a href="">Доска обрезная 2 сорт ГОСТ</a>
                                        li <a href="">Доска обрезная 2 сорт ТУ</a>
                                        li <a href="">Доска обрезная ГОСТ</a>
                                li <a class="arrow arrow_right" href="">Доска половая</a>
                                    ul
                                        li <a href="">Доска половая</a>
                                        li <a href="">Доска сухая половая</a>
                                li <a class="arrow arrow_right" href="">Доска строганная</a>
                                    ul
                                        li <a href="">Доска строганная</a>
                                        li <a href="">Доска сухая строганная</a>
                                li <a class="arrow arrow_right" href="">Вагонка</a>
                                    ul
                                        li <a href="">Вагонка</a>
                                        li <a href="">Вагонка сухая</a>
                                        li <a href="">Евровагонка</a>
                                li <a class="arrow arrow_right" href="">Фанера ФК</a>
                                    ul
                                        li <a href="">Сорт 3/4</a>
                                        li <a href="">Сорт 4/4</a>
                                        li <a href="">Фанера строительный</a>
                                li <a class="arrow arrow_right" href="">Фанера ФСФ</a>
                                    ul
                                        li <a href="">1220*2440 3/3</a>
                                        li <a href="">1220х2440 3/4</a>
                                        li <a href="">1220*2440 4/4</a>
                                        li <a href="">1500*3000 4/4</a>
                                li <a class="arrow arrow_right" href="">Фанера ламинированная</a>
                                    ul
                                        li <a href="">1220х2440</a>
                                        li <a href="">1500х3000</a>
                                li <a class="arrow arrow_right" href="">OSB Плита</a>
                                    ul
                                        li <a href="">OSB-3</a>
                                li <a class="" href="">Блок Хаус</a>
                                li <a class="arrow arrow_right" href="">Имитация бруса</a>
                                    ul
                                        li <a href="">Имитация бруса класс А</a>
                                        li <a href="">Имитация бруса класс АВ</a>
                                        li <a href="">Имитация бруса класс В</a>
                                        li <a href="">Имитация бруса класс С</a>
                                li <a class="arrow arrow_right" href="">Утеплитель</a>
                                    ul
                                        li <a href="">Утеплитель ROCKWOOL</a>
                                        li <a href="">Утеплитель URSA GEO</a>
                                        li <a href="">Утеплитель IZOBEL</a>
                                        li <a href="">Утеплитель IZOVOL</a>
                                        li <a href="">Утеплитель ISOROC</a>

                        li.nav__item
                            a(href="") Доставка и оплата
                        li.nav__item
                            a(class=page == 'Главная' ? "link-spy":"" href=page == 'Главная' ?"#feedbackSection":"index.html#feedbackSection") Отзывы
                        li.nav__item
                            a(class=page == 'Главная' ? "link-spy":"" href=page == 'Главная' ?"#contactSection":"index.html#contactSection") Контакты

            //if page == 'Главная'
            //    header.header
            //        +header
            //    .subHeader
            //        +subHeader
            //else if page != 'Главная'
            //    header.header.notindexpage
            //        +header
            header.header
                +header
            .subHeader
                +subHeader

            .topSliderSection
                .slider.slider_wide.text_color_white.text_pos_center
                    .slider__item
                        img(class="slider__img" src="img/picture-slider-1.jpg")
                        .slider__overlay
                        .slider__title экологически чистое дерево
                        .slider__subtitle Наше дерево экологичекски чистое и правильно выращенное, поэтому наши пиломатериалы лучше чем у конкурентов
                    .slider__item
                        img(class="slider__img" src="img/picture-slider-1.jpg")
                        .slider__overlay
                        .slider__title экологически чистое дерево
                        .slider__subtitle Наше дерево экологичекски чистое и правильно выращенное, поэтому наши пиломатериалы лучше чем у конкурентов
                    .slider__item
                        img(class="slider__img" src="img/picture-slider-1.jpg")
                        .slider__overlay
                        .slider__title экологически чистое дерево
                        .slider__subtitle Наше дерево экологичекски чистое и правильно выращенное, поэтому наши пиломатериалы лучше чем у конкурентов






        block content
            | Ling yellowtail flagtail southern flounder. Ribbon eel northern pike glass knifefish cepalin barbelless catfish cusk-eel ridgehead, mahi-mahi. Glass knifefish snubnose eel pompano dolphinfish lemon shark salmon duckbilled barracudina common tunny skate, codlet. Perch tarpon, zebra pleco--round herring jewfish, New Zealand sand diver. Spiny dwarf catfish slickhead clown triggerfish. Shad New Zealand sand diver cavefish banjo catfish bamboo shark spiny basslet, pigfish handfish.
        block footer
            footer.footer
                .container
                    .footer__firstLine.flex_row__between.flex_wrap.align_center
                        a(class="footer__logo sz-logo" href="#")
                            img(class="sz-logo__img" src="img/logo-stroyzakaz.png" alt="Логотип STROY-ZAKAZ")
                            span.sz-logo__text STROY&#8209ZAKAZ
                        a(class="footer__privacyPolicy" href="") Политика конфиденциальности
                        a(class="footer__userAgreement" href="") Пользовательское соглашение
                        .footer__createdBy.createdBy Разработка сайта <a class="createdBy__link" href="https://rfim.ru/">rfim.ru</a>

                    .footer__copyright 2019 STROY-ZAKAZ.RU ©<br>Все права защищены.

        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
        script(src='js/concat-js-libs.js')
        script(src='js/common.js')
